@use '../../../variables' as *;
@use '../../../mixins' as *;

form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;

  .fill-container {
    display: flex;
    flex-direction: column;

    input, textarea {
      padding: 5px;
    }

    textarea {
      min-height: 75px;
      max-height: 200px;
      resize: vertical;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
  }
}
