<div class="custom-select">
  <button class="purple-btn" (click)="isOpen = !isOpen">
    @if (selectedOption) {
      <ng-container
        [ngTemplateOutlet]="customTemplate"
        [ngTemplateOutletContext]="{$implicit: selectedOption}"
      ></ng-container>
    } @else {
      <span>Select</span>
    }
  </button>

  @if (isOpen) {
    <ul>
      @for (option of options; track option) {
        <li [ngClass]="option.year === selectedOption ? 'active' : ''" (click)="select(option)">
          <ng-container
            [ngTemplateOutlet]="customTemplate"
            [ngTemplateOutletContext]="{$implicit: option}"
          ></ng-container>
        </li>
      }
    </ul>
  }
</div>
