@mixin custom-button($font-size, $padding, $color, $background-color, $hover-color, $border, $border-radius) {
    font-size: $font-size;
    font-weight: bold;
    padding: $padding;
    border-radius: $border-radius;
    border: $border;
    background: $background-color;
    color: $color;
    cursor: pointer;

    &:hover {
      background: $hover-color;
    }

    &:active {
      transform: scale(0.975);
    }
}
